.contacts {
  @include side-paddings;
  padding-top: 43px;
  padding-bottom: 40px;
  background-color: $main-bgcolor;
  outline: 1px solid blue;/*Временно для обводки*/


}

.contacts__title {
  margin: 0;
  padding-bottom: 38px;
  @include main-font;
  font-size: 18px;
  line-height: 30px;
}

.contacts__table {
  margin-bottom: 33px;
  @include desc-font;
  font-size: 15px;
  line-height: 30px;
}

.contacts-map {
  margin-bottom: 39px;
}

.contacts__write {
  text-decoration: none;
  text-align: center;
}
