.main-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 22px;
  background-color: $main-bgcolor;
}

.main-header__logo {
  display: block;
  width: 86px;
  margin-left: 115px;
  margin-bottom: 18px;
}

.main-header__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav {
  display: flex;
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -58px;
  right: 30px;
  padding: 0;
  width: 22px;
  height: 35px;
  border: none;
  background-color: $main-bgcolor;
}

.main-nav--closed .main-nav__toggle {
  background: url("../img/icon-menu-open.svg") no-repeat center;
}

.main-nav--opened .main-nav__toggle {
  background: url("../img/icon-menu-close.svg") no-repeat center;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: $tablet-width;
    box-sizing: border-box;
    padding-top: 11px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: -60px;
  }

  .main-header__logo {
    order: 2;
    z-index: 1;
    margin-left: -2px;
    margin-top: -128px;
    width: 112px;
    height: 46px;
  }

  .main-header__logo-image {
    width: 112px;
    height: 46px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: $desktop-width;
    margin-bottom: -70px;
  }

  .main-header__logo {
    margin-left: 450px;
    margin-top: -150px;
    width: 149px;
    height: 72px;
  }

  .main-header__logo-image {
    width: 149px;
    height: 72px;
  }
}
