.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 320px;
  box-sizing: border-box;
  margin-left: -160px;
  margin-top: -169px;
  padding-top: 31px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 47px;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  background-color: $main-bgcolor;

  &--opened {
    display: block;
  }
}

.modal-window__booking {
  margin: 0;
  margin-bottom: 11px;

  @include main-font;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.modal-window__checking-size {
  margin: 0;
  margin-bottom: 24px;

  @include desc-font;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.modal-window__sizes {
  display: block;
  width: 8px;
  padding: 9px 35px;

  @include main-font;
  color: #444444;
  font-size: 17px;
  line-height: 30px;
  border: 2px solid #ececec;
}

.modal-window__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 29px;
}

.modal-window__booking-button {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}

.modal-window__radio:checked + .modal-window__sizes {
  border: 2px solid #63d1bb;
}

@media (min-width: $tablet-width) {
  .modal-window {
    margin-left: -283px;
    margin-top: -169px;
    padding-top: 33px;
    padding-left: 106px;
    padding-right: 106px;
    width: 566px;
    box-sizing: border-box;
  }

  .modal-window__booking {
    margin-bottom: 13px;
    font-size: 30px;
    line-height: 57px;
  }

  .modal-window__checking-size {
    margin-bottom: 22px;
    font-size: 17px;
  }

  .modal-window__sizes {
    width: 112px;
    box-sizing: border-box;
    text-align: center;
  }

  .modal-window__wrapper {
    margin-bottom: 31px;
  }
}
