.order {
  padding-bottom: 55px;
}

.order fieldset {
  border: none;
  border-top: 1px solid #63d1bb;
  padding: 0;
  margin-bottom: 34px;
}

.order fieldset:last-of-type {
  margin-bottom: 18px;
}

.order__legend {
  padding-right: 24px;

  @include main-font;
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
}

.order__positions {
  display: block;
  padding-top: 30px;
  padding-bottom: 20px;

  @include main-font;
  font-size: 17px;
  line-height: 18px;
}

.order__user-field,
.order__user-field[placeholder] {
  @include desc-font;
  color: rgba(68, 68, 68, 0.3);
  font-size: 17px;
  line-height: 18px;
}

.order__explaination {
  margin: 0;
  margin-bottom: 32px;

  @include desc-font;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .order {
    padding-left: 50px;
    padding-right: 50px;
  }
}
