.page-main {
  margin: 0 auto;
  width: 320px;
  background-color: $main-bgcolor;
  outline: 1px solid red;/*Временная обводка*/
}

.page-main__title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 76px;
  padding-bottom: 74px;
  border-top: 1px solid #ececec;
  @include main-font;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.page-main__form {
  @include side-paddings;
}

.page-main__description {
  @include side-paddings;
  margin-top: 28px;
  margin-bottom: 30px;
  @include desc-font;
  font-size: 13px;
  line-height: 24px;
}
