.page-main {
  width: 320px;
  border-top: 1px solid #e7e7e7;
  margin: 0 auto;
  margin-top: -1px;
  background-color: $main-bgcolor;
}

.page-main__title {
  margin: 0;
  margin-bottom: 23px;
  padding-top: 71px;
  padding-bottom: 74px;
  border-top: 1px solid #ececec;

  @include main-font;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.page-main__form {
  @include side-paddings;
}

.page-main__description {
  @include side-paddings;
  margin-top: 9px;
  margin-bottom: 33px;

  @include desc-font;
  font-size: 13px;
  line-height: 24px;
}

.page-main__wrap {
  margin-top: 29px;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: $tablet-width;
  }

  .page-main__title {
    margin-bottom: 81px;
    padding-top: 93px;
    padding-bottom: 78px;
    font-size: 43px;
    line-height: 50px;
  }

  .page-main__title--form {
    margin-bottom: 75px;
  }

  .page-main__description {
    margin-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: $desktop-width;
  }

  .page-main__title {
    padding-bottom: 101px;
    margin-bottom: 131px;
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__title--form {
    margin-bottom: 125px;
  }

  .page-main__description {
    padding-left: 225px;
  }

  .page-main__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }
}
