.product {
  background-color: $main-bgcolor;
}

.product__wrapper {
  @include side-paddings;
  padding-top: 27px;
  padding-bottom: 36px;
}

.product__title {
  margin: 0;
  padding-bottom: 5px;

  @include main-font;
  font-size: 25px;
  line-height: 30px;
}

.product__top {
  @include main-font;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
}

.product__description {
  margin-top: 23px;
  margin-bottom: 16px;

  @include desc-font;
  line-height: 24px;
}

.product__options {
  margin-bottom: 28px;
}

.product__image {
  margin-bottom: 20px;
}

.product__price {
  margin: 0;
  padding-bottom: 26px;

  @include main-font;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product__wrapper {
    padding-top: 48px;
    padding-left: 49px;
    padding-right: 50px;
    padding-bottom: 68px;
  }

  .product__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 43px;
  }

  .product__title {
    font-size: 43px;
    line-height: 50px;
  }

  .product__top {
    width: 130px;
    line-height: 17px;
    text-align: center;
  }

  .product__item-wrapper {
    width: 290px;
  }

  .product__description {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .product__image {
    width: 333px;
    height: 404px;
    outline: 1px solid black;/*Временно для обозначения границ*/
    margin-left: 334px;
    margin-top: -268px;
  }

  .product__price {
    margin-top: -130px;
    padding-bottom: 36px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .product__wrapper {
    padding-top: 130px;
    padding-bottom: 96px;
  }

  .product__title-wrapper {
    justify-content: flex-start;
    position: relative;
  }

  .product__title {
    order: 1;
    z-index: 2;
    font-size: 53px;
    line-height: 57px;
  }

  .product__top {
    align-self: center;
    padding-left: 20px;
    padding-right: 22px;
  }

  .product__item-wrapper {
    margin-left: 175px;
  }

  .product__description {
    margin-bottom: 45px;
  }

  .product__image {
    width: 525px;
    height: 636px;
    margin-left: 351px;
    margin-top: -445px;
  }

  .product__price {
    padding-bottom: 34px;
  }
}
