.table {
  @include desc-font;
  line-height: 20px;
  border-spacing: 0;
}

.table__data {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.table__option {
  width: 98px;
}
